.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  padding-top: 92px;
  padding-left: 2%;
  padding-right: 2%;
}

@media screen and (max-width: 1024px) {
  .photo-grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 12px;
    padding-top: 64px;
  }
}