.intro__list {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 33px;
}
