.place__paragraph-item {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.place__paragraph-item:nth-child(3n){
    margin-top: 25px;
}
.place__paragraph-item:nth-child(2n){
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .place__paragraph-main {
    font-size: 16px;
  }
}
