.cover__container{
    background-image: url(/images/__background.jpg);
    max-width: 1184px;;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
   
}