.place__website-link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .place__website-link {
    margin-left: 16px;
    margin-right: 16px;
  }
}

