.intro{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 92px;
    padding-left: 148px;
    padding-right: 148px;
}

  @media screen and (max-width: 1024px){
    .intro{
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width: 768px){
    .intro{
        padding-top: 88px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 320px){
    .intro{
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }
}